/*** FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*** COMMON ***/
body {
    background: #333;
    background: linear-gradient(to bottom right,#024,#402);
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.button {
    padding: 10px 30px;
    border: 1px solid #FFF;
    text-align: center;
    background: transparent;
    color: #FFF;
    display: inline-block;
}
.button:hover {
    background: #FFF;
    color: #333;
    cursor: pointer;
}

/*** HEADERS ***/
h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    font-weight: 400;
}

/*** HEADER ***/
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
header h1 {
    text-align: left;
    margin-bottom: 0px;
}
header .buttons {
    text-align: right;
}

/*** FOOTER ***/
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}

footer p {
    color: #ddd;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}
footer p a {
    color: #ddd;
}

/*** COINS ***/
.coins {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 40px);
}
.coins .coins-inner {
    padding: 30px 0px 0px 0px;
    max-height: calc(100vh - 40px);
    overflow: auto;
}
.coin {
    padding: 60px 30px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(0,0,0,.25);
}
.coin:hover {
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #fd6721;
    transition: .5s;
}

.coin img {
    display: block;
    margin: 0px auto;
    padding-bottom: 20px;
}

.coin .details {
    text-align: center;
    color: #FFF;
}
.coin .details .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
}
.coin .details .price {
    font-size: 16px;
    
}
.coin .details .price .change {
    font-size: 12px;
    font-weight: bold;
}
.coin .details .price .change.up {
    color: green;
}
.coin .details .price .change.down {
    color: red;
}










/*** LOADING ***/
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF url(/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}